<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>王艺超PHP个人博客后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Back/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Back/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/Back/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Public/head" />
<div class="container clearfix">
    <include file="Public/left" />
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <a href="__MODULE__/Life/add"><i class="icon-font">&#xe001;</i>新增文章</a>
                    <a href="__MODULE__/Category/lst"><i class="icon-font">&#xe005;</i>新增分类</a>
                </div>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>