<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>留言板-王艺超的PHP个人博客</title>
  <meta name="keywords" content="个人博客,王艺超个人博客,PHP个人博客,王艺超" />
  <meta name="description" content="王艺超的个人博客，一位热衷于LAMP开发的大学生。欢迎你在这里留下你想说的话！">
  <link href="__PUBLIC__/css/base.css" rel="stylesheet">
  <link href="__PUBLIC__/css/about.css" rel="stylesheet">
  <link href="__PUBLIC__/css/media.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/ico.ico" media="screen" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/js/modernizr.js"></script>
  <![endif]-->
  <script src="__PUBLIC__/js/jquery-1.4.2.min.js"></script>
  <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>
<body>
<div class="ibody">
  <header>
    <h1>{$information.title}</h1>
    <h2>{$information.describe}</h2>
    <div class="logo" style="background: url(__ROOT__/Uploads/{$information.home_img}) no-repeat #000 center;">
      <a href="__ROOT__/index.html"></a>
    </div>
    <nav id="topnav">
      <a href="__ROOT__/index.html">首页</a>
      <a href="__ROOT__/about.html">关于我</a>
      <a href="__ROOT__/life.html">慢生活</a>
      <a href=__ROOT__/photo.html>相册</a>
      <a href="__ROOT__/board.html" id="topnav_current">留言板</a>
    </nav>
  </header>
  <article>
    <h3 class="about_h">您现在的位置是：<a href="__ROOT__/index.html">首页</a>><a href="board">留言板</a></h3>
    <div class="about">

<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  sourceId: "",
  productKey: "48b66694dccb4882873161716243e253",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
    </div>
  </article>
  <aside>
    <div class="avatar"><a href="about" STYLE=" background: url(__ROOT__/Uploads/{$information.person_photo}) no-repeat;"><span>关于王艺超</span></a></div>
    <div class="topspaceinfo">
      <h1>{$information.person_title}</h1>
      <p>{$information.person_describe}</p>
    </div>
    <div class="about_c">
      <p>网名：{$information.name}</p>
      <p>职业：{$information.job} </p>
      <p>籍贯：{$information.address}</p>
      <p>电话：{$information.phone}</p>
      <p>qq：{$information.qq}</p>
      <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=69LZ2N3e0tvT2quamsWIhIY" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png"/></a></p>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="http://www.wycweb.com">王艺超</a></p>
        <p><a href="http://www.miitbeian.gov.cn" target="_blank">{$information.icp}</a></p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="__PUBLIC__/js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 -->
</div>
    <script>
    (function(){
       var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?7cbfb91faeba97246808925bb0a986e1":"https://jspassport.ssl.qhimg.com/11.0.1.js?7cbfb91faeba97246808925bb0a986e1";
       document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
    </script>
</body>
</html>
